[language-server.rust-analyzer.config]
check = { command = "clippy" }
checkOnSave = true
diagnostics = { enable = true, experimental = { enable = true } }

[language-server.rust-analyzer.config.cargo]
features = "all"
